h1 {
  font-size: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  min-width: 100px;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 40px 0;
  border-radius: 50px;
  font-weight: bold;
}

.green {
  background-color: #17a301;
}

.yellow {
  background-color: #ffce2d;
}

.red {
  background-color: #ff2632;
}
