@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  margin: 0 30px;
}

h2 {
  text-align: center;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}
